<div>
  <div *ngIf="channelType2 === 0">
    <input type="text" class="form-control" id="name" required [(ngModel)]="message.content"
           (keyup.enter)="sendMessage()" name="name">
    <button class="btn btn-primary" (click)="sendMessage()"> Send</button>
  </div>

  <div class="form-root" *ngIf="channelType2 === 1">
    <input type="text" class="form-control" id="nom" required [(ngModel)]="privatemessage.content"
           (keyup.enter)="sendPrivateMessage()" name="name">
    <button class="btn btn-primary" (click)="sendPrivateMessage()">Send</button>
  </div>
</div>
<div>
  <button class="btn btn-primary" (click)="hide()">{{buttonWeather}}</button>
</div>
<div *ngIf="hideBol">
  <strong>City :</strong> {{city}} <br>
  <strong>Current temp :</strong> {{currentTemp}}°C <br>
  <img  [src]="urlImage">
  <strong>Max temp :</strong> {{temp_max}}°C<br>
  <strong>Min temp :</strong> {{temp_min}}°C<br>
  <strong>Description :</strong> {{description}}<br>
</div>
