<div class="message-form-root">
  <div class="input-root" *ngIf="channelType2 === 0">

    <span><input class="message-input style-thick-border" type="text" id="name" name="name"
                 placeholder="Type your message here..." required [(ngModel)]="message.content"
                 (keyup.enter)="sendMessage()"></span>

    <button class="send-message-button" (click)="sendMessage()"> Send</button>

  </div>

  <div class="input-root" *ngIf="channelType2 === 1">

    <span><input class="message-input style-thick-border" type="text" id="input message" name="name"
                 placeholder="Type your message here..." required [(ngModel)]="privatemessage.content"
                 (keyup.enter)="sendPrivateMessage()"></span>

    <button class="send-message-btn" (click)="sendPrivateMessage()">Send</button>

  </div>
</div>

<div>
  <button class="weather-btn" (click)="hide()">{{buttonWeather}}</button>
</div>

<div *ngIf="hideBol">

  <strong>City :</strong> {{city}} <br>
  <strong>Current temp :</strong> {{currentTemp}}°C <br>
  <img  *ngIf="urlImage != undefined" [src]="urlImage">
  <strong>Max temp :</strong> {{temp_max}}°C<br>
  <strong>Min temp :</strong> {{temp_min}}°C<br>
  <strong>Description :</strong> {{description}}<br>

</div>
