<div class="channel-form-root">

  <div class="create-channel">
    <input type="text" class="input-channel-name style-underline" id="input-channel-name" name="channel-name"
           placeholder="Type a new channel name..." required
           [(ngModel)]="channel.name">
    <!--  <br>Message model: {{message | json}} -->
    <button class="create-channel-btn" (click)="createChannel()"> Create Channel</button>
  </div>

  <div class="page-selector">
    <button class="previous-page" (click)="prevChannel()">❮</button>
    <span class="page-display">Page n°{{channelService.pageNumber + 1}}</span>
    <button class="next-page" (click)="nextChannel()">❯</button>
  </div>

</div>
