<body>
<br>
<br>
<div>
<p>
  <strong> Entrer a city name :</strong> <br>
  <input type="text" class="form-control" id="name" required [(ngModel)]="cityName" name="name">
  <button class="btn btn-primary" (click)="getWeather()"> Get Weather</button>
</p>
  <strong>City :</strong> {{cityName}} <br>
  <strong>Current temp :</strong> {{currentTemp}}°C <br>
  <strong>Max temp :</strong> {{temp_max}}°C<br>
  <strong>Min temp :</strong> {{temp_min}}°C<br>
  <strong>Description :</strong> {{description}}<br>
</div>
</body>


