:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.channel-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px lightgray solid;
  height: 75px;
  width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.channel-root:hover {
  background-color: #c6d6ff;
}

.channel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.channel-info {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 70%;
  height: 50px;
  margin-top: 1%;
  margin-left: 1%;
}

.channel-info-prefix {
  font-style: italic
}

