.channel-root {
  position: relative;
  display: inline-block;
  border: 1px black solid;
  border-radius: 5px;
  height: 60px;
  width: 300px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.channel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: rgb(102, 166, 184);
  border-radius: 5px;
}

.channel-info {
  overflow: hidden;
  text-overflow: "..." ellipsis;
  display: inline-block;
  width: 230px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
}
