<div class="app-root container-fluid" *ngIf="status === true">

  <!-- Main app bar -->
  <div class="nav-bar">
    <nav>
      <h1 class="messenger-title">G-Messenger</h1>
      <div class="nav-bar-btn">
        <button class="public-channel-btn btn" (click)="publicChannels()">Public channels</button>
        <div class="private-channel-btn-wrapper">
          <button class="private-channel-btn btn" (click)="privateChannels()">Private channels</button>
        </div>
        <button class="logout-btn" (click)="logout()">Logout</button>
      </div>
    </nav>
  </div>

  <!-- Public channel and messages -->
  <div class="chat-app" *ngIf="channelType === 0">

    <!-- Public Channel Space -->
    <section class="channel-space">
      <h2 class="channel-space-title">Public Channel space</h2>
      <div class="public-channel-form">
        <app-channel-form></app-channel-form>
      </div>
      <app-channel-list></app-channel-list>
    </section>

    <!-- Public Message Space -->
    <section class="message-space">
      <h2 class="message-space-title"><strong>{{channelService.currentChannelRoute.name}}</strong></h2>

      <div class="page-selector">
        <button class="previous-page" (click)="prevMessages()">❮</button>
        <span class="page-display">Page n°{{messageService.pageNumber}}</span>
        <button class="next-page" (click)="nextMessages()">❯</button>
      </div>

      <app-message-list></app-message-list>
      <app-message-form></app-message-form>
    </section>

  </div>

  <!-- Private channel and messages -->
  <div class="chat-app" *ngIf="channelType === 1">

    <!-- Private Channel Space -->
    <section class="channel-space">
      <h2 class="channel-space-title">Private Channel space</h2>

      <app-private-channel-list></app-private-channel-list>
    </section>

    <!-- Private Messsage Space -->
    <section class="message-space">
      <h2 class="channel-space-title">Private Messages with <strong>{{privateMessageService.currentUser}}</strong></h2>

      <div class="select_page">
        <button class="previous_page" (click)="prevMessages()">❮</button>
        <span class="page-display">Page n°{{privateMessageService.pageNumber}}</span>
        <button class="next_page" (click)="nextMessages()">❯</button>
      </div>

      <app-message-list></app-message-list>
      <app-message-form></app-message-form>
    </section>

  </div>

</div>

<!-- Login part -->
<div align="center" class="login-root" *ngIf="status === false">
  <div class="login-root-wrapper">
    <span class="login-text">Enter a username to login</span>
    <div class="login-input-wrapper ">
    <span><input class="login-input style-underline" id="login" name="user" type="text" placeholder="Your username..."
                 required [(ngModel)]="user" (keyup.enter)="login()"/></span>
      <button class="login-btn" (click)="login()">Login</button>
    </div>
  </div>
</div>
