<div>
  <p>Message:</p>
  <div *ngFor="let currentMessage of stringList">
    <img *ngIf="isAnImage(currentMessage)" [src]="currentMessage">
    <br *ngIf="isAnImage(currentMessage)">
    <iframe *ngIf="isAnUrlToLoad(currentMessage)" [src]="result | safe"></iframe>
    <strong *ngIf="notUrl(currentMessage)">{{currentMessage}}</strong>
    <a *ngIf="isAnUrl(currentMessage)" href={{currentMessage}}>{{currentMessage}}</a>
    <br *ngIf="isAnUrl(currentMessage)">
  </div>
  <p><br>From: <strong>{{message.from}}</strong></p>
</div>
