<div>
  <p>Message:</p>
  <div *ngFor="let currentMessage of stringList">
    <img *ngIf="isAnImage(currentMessage)" [src]="currentMessage">
    <br *ngIf="isAnImage(currentMessage)">
    <strong *ngIf="isAnUrlToLoad(currentMessage)">
      <iframe [src]="result | safe"></iframe><br>
    </strong>
    <strong *ngIf="notUrl(currentMessage)">{{currentMessage}}</strong>
    <strong *ngIf="isAnUrl(currentMessage)"><a href={{currentMessage}}>{{currentMessage}}</a></strong>
  </div>
  <p><br>  From: <strong>{{message.from}}</strong></p>
</div>
